
<div class='section'>
  <div class='container'>
    <div class='columns is-centered'>
      <div class='column is-half'>
        <h2 class='title'>Forgot your password?</h2>

        <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

          <%= f.error_notification %>

          <%= f.input :email, required: true, autofocus: true %>

          <%= f.button :submit, "Send me reset password instructions", class: 'is-info' %>
        <% end %>

        <nav class='navbar'>
          <div class='navbar-menu'>
            <div class='navbar-start'>
              <%= render "devise/shared/links"%>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>
